
.form {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.comments {
    width: 708px;
    padding-top: 10px;
    /* background-color: rgba(0,0,0,.5);
    color: #fff; */
}

.attachments {
    width: 708px;
    padding-top: 100px;
}

.upload-btn {
    padding-top: 20px;
    position: absolute;
    display: inline-block;
}

.submit-btn {
    padding-top: 20px;
    padding-left: 200px;
    position: absolute;
    display: inline-block;
}

.upload-msg {
    padding-top: 20px;
    text-decoration: underline;
    text-decoration-color: red;
}

.alert_msg {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}