
/* .contact {

} */

.form {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments {
    width: 708px;
    padding-top: 10px;
}

.upload-btn {
    padding-top: 20px;
    display:flex;
    justify-content:center;
    align-items: center;
    position:relative;
}

.submit-btn {
    padding-top: 20px;
    display:inline;
    justify-content:center;
    align-items: center;
    position:relative;
}