.App {
  text-align: center;
  background-image: url(https://dsm01pap006files.storage.live.com/y4m7dcquO0kdPXG6Cp7XXx4UIbolHb0IBHMP8AjWmpcDM8kbERkwL0IvtF2P_zb-LEOmStKOOT0Zgj16aXdGzhOxKsKiMD1lm6m76kI9gfLf7n9HEWM6Usx8VQdFmj8kJpxWs0_-dVIqH_fKBdk-dteLEpfU9IMDJVLwt_R793GgDxzuF1UIBwsfp_g-3-nUagT7lxmIbGA0oxWoGBO0k5U4-X2HFqtjqZJvh09PQDSxXc?encodeFailures=1&width=875&height=875);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center ;
    min-width: 1024px;
    min-height: 120%;
    width: 100%;
    height: auto;
    position:fixed;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
